<head>
    <meta charset="utf-8">
    <title>{{#if title }}{ {title }} - {{/if}}{{ site.name }}</title>
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <style>
        body {
            padding: 0px;
            margin: 0px;
            font-family: sans-serif;
            font-family: monospace;
        }
        
        h1 {
            font-family: sans-serif;
        }
        
        h2 {
            font-family: sans-serif;
            font-family: monospace;
            letter-spacing: -3px;
        }
        
        p {
            font-family: monospace;
        }
    </style>
</head>