<!DOCTYPE html>
<html>
{{> meta }}

<body>
    <section class="section">
        <div class="container">
            <div class="content">
                <div class="columns">
                    <div class="column"></div>
                    <div class="column is-three-quarters">
                        <header>
                            <a class="back-to-index" href="../index.html">&larr; Back to Home...</a>
                            <h1 class="title is-3 blog-title">
                                {{ title }}
                            </h1>
                        </header>
                        <br>
                        <article>

                            <div class="meta">
                                {{#if date}}{{ date }}{{/if}}
                            </div>
                            {{{ contents }}}
                        </article>
                    </div>
                    <div class="column"></div>
                </div>
            </div>
        </div>
    </section>
    {{> footer }}
</body>

</html>