<!DOCTYPE html>
<html>
{{> meta }}

<body>
    <!-- navigation -->
    {{> navbar }}
    <!-- /navigation -->
    <!-- content -->
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-two-thirds">
                    <ul class="recent">
                        {{#each articles }}
                        <li style="margin-bottom:20px;">
                            <nav class="columns">
                                <!-- Left side -->
                                <div class="column is-3">
                                    <p class="subtitle is-5 has-text-centered">
                                        <img src="{{img}}">
                                    </p>
                                </div>
                                <!-- Right side -->
                                <div class="column">
                                    <p class="">
                                        <h2 class="title is-4 is-marginless">
                                            <a href="{{ path }}">{{ title }}</a>
                                            <small style="font-size:1.1rem;">[{{ date }}]</small>
                                        </h2>
                                        <p>{{ blurb }}</p>
                                    </p>
                                </div>
                            </nav>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
    <!-- /content -->

    <!-- footer -->
    {{> footer }}
    <!-- /footer -->
</body>

</html>